

body {
  background: var(--light-background-color);
  margin: 0;

  padding: 0;
}
.home-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: var(--light-background-color);
}
.home-nav {
  font-weight: 700;
}

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar nav ul li {
  margin: 0 1rem;
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
  color: var(--secondary-color);
}
.hero-section {
  display: flex;
  flex-direction: row;
  padding: 50px 100px;
  align-items: center;
  background-color: var(--light-background-color);
  gap: 200px;
}
.hero-section .img-hero img {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hero-describe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.hero-describe div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-describe a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-section {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
.main-section h1 {
  margin: auto;
}
.blog-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background: var(--light-background-color);
}

.blog-post-card {
  background: var(--secondary-color);
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.blog-post-card:hover {
  transform: scale(1.05);
}

.blog-post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
.card-content h3 {
  font-size: 20px;
}

.blog-post {
  padding: 2rem;
  background: var(--light-background-color);
}

.post-header {
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 1rem;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
}

.author-info .avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.social-sharing {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.social-sharing .button {
  flex-grow: 1;
  text-align: center;
}

.related-articles {
  margin-top: 2rem;
  background: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 5px;
}

.related-articles ul {
  list-style: none;
  padding: 0;
}

.related-articles ul li {
  margin-bottom: 0.5rem;
}
.subscribe-section {
  text-align: center;
  padding: 1rem;

  background: var(--light-background-color);
  position: relative;
  bottom: 0;
  margin-bottom: 40px;
  padding: 30px;
}
.subscribe-form input[type="text"],
.subscribe-form input[type="email"] {
  width: 80%;
  max-width: 400px;
}
.subscribe-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--quote-color);

  margin: auto;
  border: 2px solid rgb(244, 244, 247);
  border-radius: 8px;
  color: white;
  padding: 30px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
footer {
  background: var(--primary-color);
  padding-bottom: 30px;
  padding-left: 132px;
  padding-right: 132px;
  padding-top: 50px;
  color: #fff;
}
footer .container {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
footer .container .footer-contact {
  width: calc((100%) / 2);
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
footer .container .footer-contact .logo img {
  display: block;
}
footer .container .footer-contacts {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-list {
  width: calc((100%) / 2);
  display: flex;
  flex-direction: row;
  margin-left: auto;

  gap: 50px;
}
footer .footer-list .footer-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
footer .footer-list .footer-home ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
}
footer .footer-list .footer-about {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 14px;
}
footer .footer-list .footer-about ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8px;
}
footer .footer-list .footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 14px;
}
footer .footer-list .footer-social ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 14px;
}
footer .footer-list h2 {
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
footer .footer-list a {
  color: #fff;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
footer .footer-list a:hover {
  color: blue;
}
footer .footer-list .footer-social ul img:hover {
  width: 30px;
  height: 30px;
}

footer .finally {
  padding-top: 50px;
  color: rgb(206, 206, 230);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
}
.social-sharing a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
